In [2]:
import pandas as pd

data = pd.read_excel("C:/Users/ippao/Desktop/Downloads/Signal data - Rotterdam.xlsx")

In [3]:
data.head

<bound method NDFrame.head of               FixtureDate   rate RateType      IMO  VoyageNumber   VesselName  \
0                     NaT    NaN      NaN  9078359             1     Massongo
1                     NaT    NaN      NaN  9079078            33       Navarz
2                     NaT    NaN      NaN  9079078            34       Navarz
3                     NaT    NaN      NaN  9079078            35       Navarz
4                     NaT    NaN      NaN  9102241           103        Hapon
...                   ...    ...      ...      ...           ...          ...
20093 2022-12-13 14:16:35   82.0       WS  9933640             3   Front Tana
20094 2022-11-08 10:57:20  100.0       WS  9933652             1  Front Gaula
20095                 NaT    NaN      NaN  9933652             2  Front Gaula
20096                 NaT    NaN      NaN  9933664             1  Front Orkla
20097                 NaT    NaN      NaN  9941673             1       Helios

      VesselClass    Trade VesselStatus  Deadweight  ...  BallastBonusType  \
0            VLCC    Crude       Voyage      269141  ...               NaN
1            VLCC    Crude       Voyage      298731  ...               NaN
2            VLCC    Crude       Voyage      298731  ...               NaN
3            VLCC    Crude       Voyage      298731  ...               NaN
4            VLCC    Crude       Voyage      300361  ...               NaN
...           ...      ...          ...         ...  ...               ...
20093        VLCC    Crude       Voyage      299240  ...               NaN
20094        VLCC  Product       Voyage      299240  ...               NaN
20095        VLCC  Product       Voyage      299240  ...               NaN
20096        VLCC    Crude       Voyage      299240  ...               NaN
20097        VLCC    Crude       Voyage      300000  ...               NaN

      LaycanFrom            LaycanTo BallastDistance LadenDistance   Horizon  \
0            NaT                 NaT         6913.14       2746.52  Historic
1            NaT                 NaT             NaN         26.34  Historic
2            NaT                 NaT             NaN         12.61  Historic
3            NaT                 NaT         3629.82      21442.48  Historic
4            NaT                 NaT          327.37        541.82  Historic
...          ...                 ...             ...           ...       ...
20093 2022-12-29 2022-12-29 00:00:00         5077.21       6648.11  Historic
20094 2022-11-27 2022-11-29 23:59:59         7811.90       5172.07  Historic
20095        NaT                 NaT         5279.53       6213.74  Historic
20096        NaT                 NaT         1409.57       3082.80  Historic
20097        NaT                 NaT         1397.08      11875.33  Historic

      SuezCrossing PanamaCrossing CanakkaleCrossing BosporusCrossing
0              NaN            NaN               NaN              NaN
1              NaN            NaN               NaN              NaN
2              NaN            NaN               NaN              NaN
3              NaN            NaN               NaN              NaN
4              NaN            NaN               NaN              NaN
...            ...            ...               ...              ...
20093          NaN            NaN               NaN              NaN
20094          NaN            NaN               NaN              NaN
20095          NaN            NaN               NaN              NaN
20096          NaN            NaN               NaN              NaN
20097        Laden            NaN               NaN              NaN

[20098 rows x 49 columns]>

In [4]:
list(data.columns)

['FixtureDate',
 'rate',
 'RateType',
 'IMO',
 'VoyageNumber',
 'VesselName',
 'VesselClass',
 'Trade',
 'VesselStatus',
 'Deadweight',
 'YearBuilt',
 'CommercialOperator',
 'StartDate',
 'EndDate',
 'StartingPortName',
 'StartingPortSailingDate',
 'StartingPortCountryName',
 'StartingPortLevel0AreaName',
 'FirstLoadPortName',
 'FirstLoadPortArrivalDate',
 'FirstLoadPortStartTimeOfOperation',
 'FirstLoadPortSailingDate',
 'FirstLoadPortCountryName',
 'FirstLoadPortLevel0AreaName',
 'LastDischargePortName',
 'LastDischargePortArrivalDate',
 'LastDischargePortSailingDate',
 'LastDischargePortCountryName',
 'LastDischargePortLevel0AreaName',
 'RepairsInd',
 'StorageInd',
 'StsLoadInd',
 'StsDischargeInd',
 'LocalTradeInd',
 'CargoType',
 'CargoGroup',
 'Quantity',
 'Charterer',
 'BallastBonus',
 'BallastBonusType',
 'LaycanFrom',
 'LaycanTo',
 'BallastDistance',
 'LadenDistance',
 'Horizon',
 'SuezCrossing',
 'PanamaCrossing',
 'CanakkaleCrossing',
 'BosporusCrossing']

In [5]:
# Basic statistical analysis on "rate" column
rate_stats = data["rate"].describe()

rate_stats

count    5.116000e+03
mean     8.709989e+05
std      2.420550e+06
min      1.500000e+01
25%      4.000000e+01
50%      5.500000e+01
75%      1.035000e+02
max      8.000000e+07
Name: rate, dtype: float64

In [25]:
# Define the columns to drop
columns_to_drop = [
    "RateType",
    "IMO",
    "VoyageNumber",
    "VesselName",
    "VesselClass",
    "Trade",
    "VesselStatus",
    "YearBuilt",
    "Deadweight",
    "RepairsInd",
    "StorageInd",
    "StsLoadInd",
    "StsDischargeInd",
    "LocalTradeInd",
    "CargoGroup",
    "Quantity",
    "BallastBonus",
    "BallastBonusType",
    "LaycanFrom",
    "LaycanTo",
    "SuezCrossing",
    "PanamaCrossing",
    "CanakkaleCrossing",
    "BosporusCrossing"
]

# Drop the specified columns
data_cleaned = data.drop(columns=columns_to_drop)

# Show the first few rows of the cleaned data
data_cleaned.head()

,FixtureDate,rate,CommercialOperator,StartDate,EndDate,StartingPortName,StartingPortSailingDate,StartingPortCountryName,StartingPortLevel0AreaName,FirstLoadPortName,...,LastDischargePortName,LastDischargePortArrivalDate,LastDischargePortSailingDate,LastDischargePortCountryName,LastDischargePortLevel0AreaName,CargoType,Charterer,BallastDistance,LadenDistance,Horizon
0,NaT,NaN,Perenco,2019-06-18 07:31:45,2022-05-12 06:57:26,Quanzhou,2019-06-18 07:31:45,China,South China,Massongo,...,Ras Al Khafji,2022-04-14 11:59:44,2022-05-12 06:57:26,Saudi Arabia,Arabian Gulf,Cameroon Crude Oil,NaN,6913.14,2746.52,Historic
1,NaT,NaN,NITC,2018-01-14 23:07:05,2018-02-01 03:59:55,Singapore,2018-01-14 23:07:05,Singapore,Singapore / Malaysia,Singapore,...,Tanjung Pelepas,2018-01-30 12:35:41,2018-02-01 03:59:55,Malaysia,Singapore / Malaysia,Crude Oil,NaN,NaN,26.34,Historic
2,NaT,NaN,NITC,2018-02-01 03:59:55,2018-02-23 15:49:27,Tanjung Pelepas,2018-02-01 03:59:55,Malaysia,Singapore / Malaysia,Tanjung Pelepas,...,Singapore,2018-02-22 19:53:53,2018-02-23 15:49:27,Singapore,Singapore / Malaysia,Crude Oil,NaN,NaN,12.61,Historic
3,NaT,NaN,NITC,2018-02-23 15:49:27,2021-03-22 03:15:44,Singapore,2018-02-23 15:49:27,Singapore,Singapore / Malaysia,Fujairah,...,Sao Sebastiao,2020-05-18 14:37:16,2021-03-22 03:15:44,Brazil,Brazil,United Arab Emirates Crude Oil,NaN,3629.82,21442.48,Historic
4,NaT,NaN,Bahri,2018-01-14 19:50:00,2018-01-24 07:08:18,Yanbu,2018-01-14 19:50:00,Saudi Arabia,Red Sea,Yanbu,...,Ain Sukhna,2018-01-22 11:06:54,2018-01-24 07:08:18,Egypt,Red Sea,Arab Light,NaN,327.37,541.82,Historic

In [26]:
list(data_cleaned.columns)

['FixtureDate',
 'rate',
 'CommercialOperator',
 'StartDate',
 'EndDate',
 'StartingPortName',
 'StartingPortSailingDate',
 'StartingPortCountryName',
 'StartingPortLevel0AreaName',
 'FirstLoadPortName',
 'FirstLoadPortArrivalDate',
 'FirstLoadPortStartTimeOfOperation',
 'FirstLoadPortSailingDate',
 'FirstLoadPortCountryName',
 'FirstLoadPortLevel0AreaName',
 'LastDischargePortName',
 'LastDischargePortArrivalDate',
 'LastDischargePortSailingDate',
 'LastDischargePortCountryName',
 'LastDischargePortLevel0AreaName',
 'CargoType',
 'Charterer',
 'BallastDistance',
 'LadenDistance',
 'Horizon']

In [27]:
# Define additional columns to drop
additional_columns_to_drop = [
    "CargoType",
    "Charterer",
    "BallastDistance",
    "LadenDistance",
    "Horizon",
    "CommercialOperator",
    "StartingPortName",
    "FirstLoadPortName",
    "FirstLoadPortArrivalDate",
    "FirstLoadPortStartTimeOfOperation",
    "FirstLoadPortSailingDate",
    "LastDischargePortName",
    "LastDischargePortArrivalDate",
    "LastDischargePortSailingDate"
]

# Drop the additional columns
data_cleaned = data_cleaned.drop(columns=additional_columns_to_drop)

# Show the first few rows of the further cleaned data
data_cleaned.head()

,FixtureDate,rate,StartDate,EndDate,StartingPortSailingDate,StartingPortCountryName,StartingPortLevel0AreaName,FirstLoadPortCountryName,FirstLoadPortLevel0AreaName,LastDischargePortCountryName,LastDischargePortLevel0AreaName
0,NaT,NaN,2019-06-18 07:31:45,2022-05-12 06:57:26,2019-06-18 07:31:45,China,South China,Cameroon,Africa Atlantic Coast,Saudi Arabia,Arabian Gulf
1,NaT,NaN,2018-01-14 23:07:05,2018-02-01 03:59:55,2018-01-14 23:07:05,Singapore,Singapore / Malaysia,Singapore,Singapore / Malaysia,Malaysia,Singapore / Malaysia
2,NaT,NaN,2018-02-01 03:59:55,2018-02-23 15:49:27,2018-02-01 03:59:55,Malaysia,Singapore / Malaysia,Malaysia,Singapore / Malaysia,Singapore,Singapore / Malaysia
3,NaT,NaN,2018-02-23 15:49:27,2021-03-22 03:15:44,2018-02-23 15:49:27,Singapore,Singapore / Malaysia,United Arab Emirates,Arabian Gulf,Brazil,Brazil
4,NaT,NaN,2018-01-14 19:50:00,2018-01-24 07:08:18,2018-01-14 19:50:00,Saudi Arabia,Red Sea,Saudi Arabia,Red Sea,Egypt,Red Sea

In [28]:
list(data_cleaned.columns)

['FixtureDate',
 'rate',
 'StartDate',
 'EndDate',
 'StartingPortSailingDate',
 'StartingPortCountryName',
 'StartingPortLevel0AreaName',
 'FirstLoadPortCountryName',
 'FirstLoadPortLevel0AreaName',
 'LastDischargePortCountryName',
 'LastDischargePortLevel0AreaName']

In [30]:
# Calculate the number of missing values in each column of the cleaned data
missing_values_cleaned = data_cleaned.isnull().sum()

# Display the result
missing_values_cleaned

FixtureDate                         9880
rate                               14982
StartDate                              0
EndDate                                0
StartingPortSailingDate                0
StartingPortCountryName                0
StartingPortLevel0AreaName             0
FirstLoadPortCountryName               0
FirstLoadPortLevel0AreaName            0
LastDischargePortCountryName           0
LastDischargePortLevel0AreaName        0
dtype: int64

In [31]:
# Get the data types of each column
data_cleaned.dtypes

FixtureDate                        datetime64[ns]
rate                                      float64
StartDate                          datetime64[ns]
EndDate                            datetime64[ns]
StartingPortSailingDate            datetime64[ns]
StartingPortCountryName                    object
StartingPortLevel0AreaName                 object
FirstLoadPortCountryName                   object
FirstLoadPortLevel0AreaName                object
LastDischargePortCountryName               object
LastDischargePortLevel0AreaName            object
dtype: object

In [29]:
import numpy as np

# Perform statistical analysis on the numerical columns
numerical_stats = data_cleaned.describe(include=[np.number])

# Perform statistical analysis on the categorical columns
categorical_stats = data_cleaned.describe(include=[np.object])

numerical_stats, categorical_stats

C:\Users\ippao\AppData\Local\Temp\ipykernel_19144\1448560336.py:7: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical_stats = data_cleaned.describe(include=[np.object])

(               rate
 count  5.116000e+03
 mean   8.709989e+05
 std    2.420550e+06
 min    1.500000e+01
 25%    4.000000e+01
 50%    5.500000e+01
 75%    1.035000e+02
 max    8.000000e+07,
        StartingPortCountryName StartingPortLevel0AreaName  \
 count                    20098                      20098
 unique                      59                         36
 top                      China                North China
 freq                      6858                       3586

        FirstLoadPortCountryName FirstLoadPortLevel0AreaName  \
 count                     20098                       20098
 unique                       69                          34
 top                Saudi Arabia                Arabian Gulf
 freq                       5607                       13524

        LastDischargePortCountryName LastDischargePortLevel0AreaName
 count                         20098                           20098
 unique                           61                              37
 top                           China                     North China
 freq                           6911                            3586  )